[Desktop Entry]
Name=Last.fm Radio
Comment=Personalized radio stream player
Comment[pl]=Odtwarzacz osobistego strumienia radiowego
Exec=lastfm-radio
Icon=/usr/share/lastfm-radio/data/icon.png
Terminal=false
Type=Application
Categories=Qt;Audio;Player;
Encoding=UTF-8
# vi: encoding=utf-8
